# Project proposal

---

Group name: E

---

## Introduction

Durch die Digitalisierung der Versicherungsbranche wurde eine neue Norm gesetzt, die es ermöglichte besser auf die Bedürfnisse der Kunden einzugehen. Die Versicherungen stellten sich damit einer bereits bekannten Herausforderung, dem Versicherungsbetrug. Jede zehnte Schadensmeldung ist betrugsverdächtig und kostet den deutschen Versicherungen rund fünf Milliarden Euro pro Jahr (GDV, 2020). Um Versicherungsbetrug zu erkennen, wird spezielle Betrugserkennungssoftware verwendet. Hierbei nutzen Versicherungsbetrüger zunehmend Anleitungen aus dem Internet, die es erleichtern die Betrugserkennungssoftware zu umgehen (GDV, 2020). 

Mit diesem Datensatz untersuchen wir, ob und welche Maßnahmen nötig sind, um den Prozess der Erkennung von Versicherungsbetrug zu verbessern. 

Wie können Betrugsfälle von der Betrugserkennungssoftware und Mitarbeiter besser erkannt werden? Welche Maßnahmen sind dazu nötig?

1. Unter 35 jährige Versicherungskunden betrügen öfters.

2. Männer betrügen häufiger als Frauen.

3. Personen mit einem niedrigem Bildungsabschluss betrügen häufiger.

4. Schadensfälle ohne polizeilicher Dokumentation sind häufiger Betrugsfälle.

5. Schadensfälle mit mehreren beteiligten Fahrzeugen sind weniger in Betrugsfälle verwickelt.


The introduction section includes

-   an introduction to the subject matter you're investigating
-   the motivation for your question (citing any relevant literature/study results ...)
-   the general (research) question you wish to explore
-   your hypotheses regarding the (research) question of interest.


## Data description

In this section, you will describe the data set you wish to explore. This includes

-   description of the observations in the data set,
-   description of how the data was originally collected (not how you found the data but how the original curator of the data collected it).

## Analysis approach

In this section, you will provide a brief overview of your analysis approach. This includes:

-   Description of the relevant variable.
-   Exploratory data analysis and summary statistics for the relevant variables.
-   The visualization types (what kind of visualizations you will you use)

In [1]:
#Setup 
#Import 

import pandas as pd
import altair as alt

In [6]:
#import Data

ROOT= "https://raw.githubusercontent.com/christophersegatz/dst-project/main/data/insurance_fraud/"
DATA = "fraud.csv"

df=pd.read_csv(ROOT + DATA)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  28836 non-null  object
 1   DateOfIncident              28836 non-null  object
 2   TypeOfIncident              28836 non-null  object
 3   TypeOfCollission            28836 non-null  object
 4   SeverityOfIncident          28836 non-null  object
 5   AuthoritiesContacted        28836 non-null  object
 6   IncidentState               28836 non-null  object
 7   IncidentCity                28836 non-null  object
 8   IncidentAddress             28836 non-null  object
 9   IncidentTime                28836 non-null  int64
 10  NumberOfVehicles            28836 non-null  int64
 11  PropertyDamage              28836 non-null  object
 12  BodilyInjuries              28836 non-null  int64
 13  Witnesses                   28836 non-null  object
 14  PoliceReport                28836 non-null  object
 15  AmountOfTotalClaim          28836 non-null  object
 16  AmountOfInjuryClaim         28836 non-null  int64
 17  AmountOfPropertyClaim       28836 non-null  int64
 18  AmountOfVehicleDamage       28836 non-null  int64
 19  InsuredAge                  28836 non-null  int64
 20  InsuredZipCode              28836 non-null  int64
 21  InsuredGender               28806 non-null  object
 22  InsuredEducationLevel       28836 non-null  object
 23  InsuredOccupation           28836 non-null  object
 24  InsuredHobbies              28836 non-null  object
 25  CapitalGains                28836 non-null  int64
 26  CapitalLoss                 28836 non-null  int64
 27  Country                     28834 non-null  object
 28  InsurancePolicyNumber       28836 non-null  int64
 29  CustomerLoyaltyPeriod       28836 non-null  int64
 30  DateOfPolicyCoverage        28836 non-null  object
 31  InsurancePolicyState        28836 non-null  object
 32  Policy_CombinedSingleLimit  28836 non-null  object
 33  Policy_Deductible           28836 non-null  int64
 34  PolicyAnnualPremium         28836 non-null  float64
 35  UmbrellaLimit               28836 non-null  int64
 36  InsuredRelationship         28836 non-null  object
 37  ReportedFraud               28836 non-null  object
dtypes: float64(1), int64(14), object(23)
memory usage: 8.4+ MB

In [7]:
df

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,InsurancePolicyNumber,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,ReportedFraud
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,...,119121,49,1998-10-25,State1,100/300,1000,1632.73,0,not-in-family,N
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,...,119122,114,2000-11-15,State1,100/300,1000,1255.19,0,not-in-family,N
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22,...,119123,167,2001-02-12,State3,500/1000,617,1373.38,0,wife,N
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22,...,119124,190,2005-04-11,State2,500/1000,722,1337.60,0,own-child,N
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10,...,119125,115,1996-10-25,State2,100/300,500,1353.73,4279863,unmarried,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,Cust9993,2015-01-24,Vehicle Theft,?,Trivial Damage,Police,State9,City4,Location 1890,3,...,119114,321,1998-04-18,State1,500/1000,655,1276.01,0,unmarried,N
28832,Cust9994,2015-02-09,Single Vehicle Collision,Front Collision,Minor Damage,Fire,State8,City3,Location 2097,17,...,119115,237,2004-09-07,State2,100/300,1089,1273.38,0,unmarried,N
28833,Cust9996,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City7,Location 1452,1,...,119117,392,1998-09-10,State3,250/500,787,1380.92,3448735,own-child,N
28834,Cust9997,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Ambulance,State9,City3,Location 1876,1,...,119118,391,1998-08-10,State3,250/500,780,1389.29,3364301,not-in-family,N
28835,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,...,119120,191,2003-04-12,State2,500/1000,2000,928.43,2909175,husband,N

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  28836 non-null  object
 1   DateOfIncident              28836 non-null  object
 2   TypeOfIncident              28836 non-null  object
 3   TypeOfCollission            28836 non-null  object
 4   SeverityOfIncident          28836 non-null  object
 5   AuthoritiesContacted        28836 non-null  object
 6   IncidentState               28836 non-null  object
 7   IncidentCity                28836 non-null  object
 8   IncidentAddress             28836 non-null  object
 9   IncidentTime                28836 non-null  int64
 10  NumberOfVehicles            28836 non-null  int64
 11  PropertyDamage              28836 non-null  object
 12  BodilyInjuries              28836 non-null  int64
 13  Witnesses                   28836 non-null  object
 14  PoliceReport                28836 non-null  object
 15  AmountOfTotalClaim          28836 non-null  object
 16  AmountOfInjuryClaim         28836 non-null  int64
 17  AmountOfPropertyClaim       28836 non-null  int64
 18  AmountOfVehicleDamage       28836 non-null  int64
 19  InsuredAge                  28836 non-null  int64
 20  InsuredZipCode              28836 non-null  int64
 21  InsuredGender               28806 non-null  object
 22  InsuredEducationLevel       28836 non-null  object
 23  InsuredOccupation           28836 non-null  object
 24  InsuredHobbies              28836 non-null  object
 25  CapitalGains                28836 non-null  int64
 26  CapitalLoss                 28836 non-null  int64
 27  Country                     28834 non-null  object
 28  InsurancePolicyNumber       28836 non-null  int64
 29  CustomerLoyaltyPeriod       28836 non-null  int64
 30  DateOfPolicyCoverage        28836 non-null  object
 31  InsurancePolicyState        28836 non-null  object
 32  Policy_CombinedSingleLimit  28836 non-null  object
 33  Policy_Deductible           28836 non-null  int64
 34  PolicyAnnualPremium         28836 non-null  float64
 35  UmbrellaLimit               28836 non-null  int64
 36  InsuredRelationship         28836 non-null  object
 37  ReportedFraud               28836 non-null  object
dtypes: float64(1), int64(14), object(23)
memory usage: 8.4+ MB

In [10]:
df.drop(["DateOfIncident","TypeOfCollission", "SeverityOfIncident", "IncidentState", "IncidentCity", "IncidentAddress", "IncidentTime",
         "NumberOfVehicles", "PropertyDamage", "BodilyInjuries", "Witnesses", "PoliceReport", "AmountOfTotalClaim", "AmountOfInjuryClaim",
        "AmountOfPropertyClaim", "AmountOfVehicleDamage", "InsuredZipCode", "InsuredOccupation", "InsuredHobbies",
        "CapitalGains", "CapitalLoss", "Country", "InsurancePolicyNumber", "DateOfPolicyCoverage", "InsurancePolicyState", "Policy_CombinedSingleLimit",
        "Policy_Deductible", "PolicyAnnualPremium", "UmbrellaLimit", "InsuredRelationship"], axis= 1, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerID             28836 non-null  object
 1   TypeOfIncident         28836 non-null  object
 2   AuthoritiesContacted   28836 non-null  object
 3   InsuredAge             28836 non-null  int64
 4   InsuredGender          28806 non-null  object
 5   InsuredEducationLevel  28836 non-null  object
 6   CustomerLoyaltyPeriod  28836 non-null  int64
 7   ReportedFraud          28836 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.8+ MB

Description of the relevant variables

CustomerID: Kundennummer, welches jeden Kunden zugeordnet wird. <br>
InsuredAge: Alter von jedem Kunden.<br>
InsuredGender Geschlecht von jedem Kunden.<br>
InsuredEducationLevel: Der höchste Bildungsabschluss jedes Kunden.<br>
CustomerLoyaltyPeriod: Die Mitgliedsdauer in Tagen.<br>
TypeOfIncident: Art des Unfalls.<br>
AuthorotiesContacted: Wurde die Polizei kontaktiert.<br>
ReportedFraud: Wurde ein Betrgusfall gemeldet.<br>


1. Unter 35 jährige Versicherungskunden betrügen öfters. -> InsuredAge, ReportedFraud

2. Männer betrügen häufiger als Frauen. -> InsuredGender, ReportedFraud

3. Personen mit einem niedrigem Bildungsabschluss betrügen häufiger. -> InsuredEducationLevel, ReportedFraud

4. Schadensfälle ohne polizeilicher Dokumentation sind häufiger Betrugsfälle. -> AuthoritiesContacted, ReportedFraud

5. Schadensfälle mit mehreren beteiligten Fahrzeugen sind weniger in Betrugsfälle verwickelt. -> TypeOfIncident, ReportedFraud

# Visualisation

1. Unter 35 jährige Versicherungskunden betrügen öfters.
    Histogram (Unter 35, über 35 - Anzahl der Bertrugsfälle in Prozent)

2. Männer betrügen häufiger als Frauen.
    Histogram (Männer, Frauen - Anzahl der Bertrugsfälle in Prozent)

3. Personen mit einem niedrigem Bildungsabschluss betrügen häufiger.
    Lollipop (Höchster Bilungsabschluss - Anzahl der Bertrugsfälle in Prozent)

4. Schadensfälle ohne polizeilicher Dokumentation sind häufiger Betrugsfälle.
    Lollipop (Mit Polizei, ohne Polizei - Anzahl der Bertrugsfälle in Prozent)

5. Schadensfälle mit mehreren beteiligten Fahrzeugen sind weniger in Betrugsfälle verwickelt.
    Lollipop (Schadeskategorie - Anzahl der Bertrugsfälle in Prozent)

## Data dictionary

*Create a data dictionary for all the variables in your data set. You may fill out the data description table or create your own table with Pandas:*

<br>


| Name  |    Type 	|
|---	|---	          	|
| CustomerID  	|   	nominal            |
| TypeOfIncident  	|   	nominal       	    |
| AuthoritiesContacted  	|   nominal	       	    |
| InsuredAge  	|   numeric	       	    |
| InsuredGender  	|   nominal	       	    |
| InsuredEducationLevel  	|   ordinal	       	    |
| CustomerLoyaltyPeriod  	|   	ordinal       	    |
| ReportedFraud  	|   	 nominal      	    | 


<br>


- `Type`: nominal, ordinal or numeric