# Project proposal

---

Group name: E

---

## Introduction

Durch die Digitalisierung der Versicherungsbranche wurde eine neue Norm gesetzt, die es ermöglichte besser auf die Bedürfnisse der Kunden einzugehen. Die Versicherungen stellten sich damit einer bereits bekannten Herausforderung, dem Versicherungsbetrug. Jede zehnte Schadensmeldung ist betrugsverdächtig und kostet den deutschen Versicherungen rund fünf Milliarden Euro pro Jahr (GDV, 2020). Um Versicherungsbetrug zu erkennen, wird spezielle Betrugserkennungssoftware verwendet. Hierbei nutzen Versicherungsbetrüger zunehmend Anleitungen aus dem Internet, die es erleichtern die Betrugserkennungssoftware zu umgehen (GDV, 2020). 

Mit diesem Datensatz untersuchen wir, ob und welche Maßnahmen nötig sind, um den Prozess der Erkennung von Versicherungsbetrug zu verbessern. 

Wie können Betrugsfälle von der Betrugserkennungssoftware und Mitarbeiter besser erkannt werden? Welche Maßnahmen sind dazu nötig?

1. Unter 35 jährige Versicherungskunden betrügen öfters.

2. Männer betrügen häufiger als Frauen.

3. Personen mit einem niedrigem Bildungsabschluss betrügen häufiger.

4. Personen mit einem höherem Loyalityscore betrügen weniger häufig.

5. Schadensfälle ohne polizeilicher Dokumentation sind häufiger Betrugsfälle.

6. Schadensfälle mit mehreren beteiligten Fahrzeugen sind weniger in Betrugsfälle verwickelt.


The introduction section includes

-   an introduction to the subject matter you're investigating
-   the motivation for your question (citing any relevant literature/study results ...)
-   the general (research) question you wish to explore
-   your hypotheses regarding the (research) question of interest.


## Data description

In this section, you will describe the data set you wish to explore. This includes

-   description of the observations in the data set,
-   description of how the data was originally collected (not how you found the data but how the original curator of the data collected it).

## Analysis approach

In this section, you will provide a brief overview of your analysis approach. This includes:

-   Description of the relevant variable.
-   Exploratory data analysis and summary statistics for the relevant variables.
-   The visualization types (what kind of visualizations you will you use)

In [1]:
#Setup 
#Import 

import pandas as pd
import altair as alt

In [17]:
#import Data

ROOT= "https://raw.githubusercontent.com/christophersegatz/dst-project/main/data/insurance_fraud/"
DATA_CLAIM="Claim.csv"

df_claim= pd.read_csv(ROOT+DATA_CLAIM)

In [11]:
DATA_DEMOGRAPHICS = "Demographics.csv"

df_demographics = pd.read_csv(ROOT+DATA_DEMOGRAPHICS)

In [12]:
DATA_POLICY= "Policy.csv"

df_policy= pd.read_csv(ROOT+DATA_POLICY)

In [13]:
DATA_TARGET="Target.csv"

df_target= pd.read_csv(ROOT+DATA_TARGET)

In [14]:
DATA_VEHICLE = "Vehicle.csv"

df_vehicle= pd.read_csv(ROOT+DATA_VEHICLE)

In [10]:
df_claim

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,3,?,1,0,?,65501,13417,6071,46013
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,3,YES,2,1,YES,61382,15560,5919,39903
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22,1,YES,2,3,NO,66755,11630,11630,43495
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22,1,YES,2,3,NO,66243,12003,12003,42237
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10,1,NO,2,1,YES,53544,8829,7234,37481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,Cust9993,2015-01-24,Vehicle Theft,?,Trivial Damage,Police,State9,City4,Location 1890,3,1,NO,0,3,?,6590,870,1078,4642
28832,Cust9994,2015-02-09,Single Vehicle Collision,Front Collision,Minor Damage,Fire,State8,City3,Location 2097,17,1,YES,0,2,YES,74547,14699,7875,51973
28833,Cust9996,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City7,Location 1452,1,1,YES,2,0,YES,55305,7043,7043,41219
28834,Cust9997,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Ambulance,State9,City3,Location 1876,1,1,?,2,0,YES,55830,7059,7059,41712
28835,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,1,NO,1,3,YES,68969,12075,6038,50856

In [20]:
df_claim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerID             28836 non-null  object
 1   DateOfIncident         28836 non-null  object
 2   TypeOfIncident         28836 non-null  object
 3   TypeOfCollission       28836 non-null  object
 4   SeverityOfIncident     28836 non-null  object
 5   AuthoritiesContacted   28836 non-null  object
 6   IncidentState          28836 non-null  object
 7   IncidentCity           28836 non-null  object
 8   IncidentAddress        28836 non-null  object
 9   IncidentTime           28836 non-null  int64
 10  NumberOfVehicles       28836 non-null  int64
 11  PropertyDamage         28836 non-null  object
 12  BodilyInjuries         28836 non-null  int64
 13  Witnesses              28836 non-null  object
 14  PoliceReport           28836 non-null  object
 15  AmountOfTotalClaim     28836 non-null  object
 16  AmountOfInjuryClaim    28836 non-null  int64
 17  AmountOfPropertyClaim  28836 non-null  int64
 18  AmountOfVehicleDamage  28836 non-null  int64
dtypes: int64(6), object(13)
memory usage: 4.2+ MB

In [21]:
df_policy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   InsurancePolicyNumber       28836 non-null  int64
 1   CustomerLoyaltyPeriod       28836 non-null  int64
 2   DateOfPolicyCoverage        28836 non-null  object
 3   InsurancePolicyState        28836 non-null  object
 4   Policy_CombinedSingleLimit  28836 non-null  object
 5   Policy_Deductible           28836 non-null  int64
 6   PolicyAnnualPremium         28836 non-null  float64
 7   UmbrellaLimit               28836 non-null  int64
 8   InsuredRelationship         28836 non-null  object
 9   CustomerID                  28836 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.2+ MB

In [22]:
df_demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerID             28836 non-null  object
 1   InsuredAge             28836 non-null  int64
 2   InsuredZipCode         28836 non-null  int64
 3   InsuredGender          28806 non-null  object
 4   InsuredEducationLevel  28836 non-null  object
 5   InsuredOccupation      28836 non-null  object
 6   InsuredHobbies         28836 non-null  object
 7   CapitalGains           28836 non-null  int64
 8   CapitalLoss            28836 non-null  int64
 9   Country                28834 non-null  object
dtypes: int64(4), object(6)
memory usage: 2.2+ MB

In [23]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28836 entries, 0 to 28835
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     28836 non-null  object
 1   ReportedFraud  28836 non-null  object
dtypes: object(2)
memory usage: 450.7+ KB

In [24]:
df_vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115344 entries, 0 to 115343
Data columns (total 3 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CustomerID               115344 non-null  object
 1   VehicleAttribute         115344 non-null  object
 2   VehicleAttributeDetails  115344 non-null  object
dtypes: object(3)
memory usage: 2.6+ MB

Description of the relevant variables

CustomerID: Kundennummer, welches jeden Kunden zugeordnet wird.
InsuredAge: Alter von jedem Kunden.
InsuredGender Geschlecht von jedem Kunden.
InsuredEducationLevel: Der höchste Bildungsabschluss jedes Kunden.
CustomerLoyaltyPeriod: Die Mitgliedsdauer in Tagen.
TypeOfIncident: Art des Unfalls.
AuthorotiesContacted: Wurde die Polizei kontaktiert.
ReportedFraud: Wurde ein Betrgusfall gemeldet.


1. Unter 35 jährige Versicherungskunden betrügen öfters. -> CustomerID, InsuredAge, ReportedFraud

2. Männer betrügen häufiger als Frauen. -> CustomerID, InsuredGender, ReportedFraud

3. Personen mit einem niedrigem Bildungsabschluss betrügen häufiger. -> CustomerID, InsuredEducationLevel, ReportedFraud

4. Personen mit einem höherem Loyalityscore betrügen weniger häufig. -> CustomerID, CustomerLoyaltyPeriod, ReportedFraud

5. Schadensfälle ohne polizeilicher Dokumentation sind häufiger Betrugsfälle. -> CustomerID, AuthoritiesContacted, ReportedFraud

6. Schadensfälle mit mehreren beteiligten Fahrzeugen sind weniger in Betrugsfälle verwickelt. -> CustomerID, TypeOfIncident, ReportedFraud

## Data dictionary

*Create a data dictionary for all the variables in your data set. You may fill out the data description table or create your own table with Pandas:*

<br>


| Name  |   Description	   	| Type   	|  Format 	|
|---	|---	          	|---	    |---	|
|   	|   	            |   	    |   	|
|   	|   	       	    |   	    |   	|
|   	|   	       	    |   	    |   	|


<br>


- `Type`: nominal, ordinal or numeric

- `Format`: int, float, string, category, date or object